* {
  box-sizing: border-box;
}


.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.side-bar {
  height: 100%;
  width: 300px;
  color: $white-color;

    &__user {
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      padding: 0 20px;

      &--box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 20px;
        font-weight: bold;
        margin: 0 auto;
     
        &__name {
          font-size: 16px;
        }
        &__icons{
          width: 60px;
          display: flex;
          justify-content: flex-end;

          &__new-group {  
            margin-right: 5px;
          }
            .fas{
              color: $white-color;
            }
          &__edit-user {
          }
            .fas{
              color: $white-color;
            }
        }
      }
    }

    &__group-list {
    height: calc(100% - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    overflow: scroll;
      &__block {
        padding-top: 20px;
        margin-bottom: 40px;
          &--name {
          font-size: 15px;
          margin-bottom: 5px;
          color: $white-color
          }
          a{
            text-decoration: none;
          }
          &--info {
          font-size: 11px;
          color: $white-color
          }
          a{
            text-decoration: none;
          }
      }
  }
}

.main-chat {
  height: 100%;
  width: calc(100% - 300px);

    &__group {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    border-bottom-color: #eeeeee;

      &__current {
        &__name {  
          margin-top: 35px;
          color: #333333;
          font-size: 20px;
        }
        &__member {
          margin-top: 15px;
          list-style: none;
          color: #999999;
          font-size: 12px;
          &__list {
          }
        }
      }  

      &__btn {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px $btn-color;
        a{
          text-decoration: none;
          color: $btn-color;
        }
      }
    }

    &__message {
    height: calc(100% - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px 0 40px;
    overflow: scroll;

      &__block {
        padding-bottom: 46px;
        &__name{
          display: flex;
          margin-bottom: 12px;
          font-size: 16px;
          color: #333333;
          &__time{
            margin-left: 10px;
            font-size: 12px;
            color: #999999;
          }
        }
        &__list{
          font-size: 14px;
          color: #434A54;
        }
      }
    }

    &__form{
      background-color: #d2d2d2;
      padding: 20px 40px;
      height: 90px;
      form  {
        display: flex;
        .main-chat__form__content {
          position: relative;
          width: 100%;
          &__message {
            width: 100%;
            height: 50px;
            padding: 20px;
          }
          &__block {
            position: absolute;
            top: 10px;
            right: 10px;

            label {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              .icon {
                font-size: 30px;
              }
              
              .hidden{
                display: none;
              }
            }
          }
        }
        
          .main-chat__form__btn {
            margin-left: 15px;
            width: 100px;
            background-color: $btn-color;
            text-align: center;
            text-decoration: none;
            color: #fafafa;
            line-height: 50px;
          }        
      }
    }
}